<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>@@title</title>
    <meta name="description" content="@@description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#cddee5">
    <meta property="og:title" content="@@title">
    <meta property="og:description" content="@@description">
    <meta property="og:type" content="website">
    <link rel="icon" href="assets/images/logo-draft.png">
    <link rel="stylesheet" href="css/styles.min.css">
</head>
